* {
    margin:0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60 px;
    background-color: #0F1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50 px;
    width: 100 px;
}

.logo{
    background-image: url(../images/amazon_logo.png);
    background-size: cover;
    height: 50 px;
    width: 100 px;
}
.border{
    border: 1.5 px solid transparent;
}
.border:hover{
    border: 1.5 px solid white;
}
/**box2**/
.Del{
    font-size: 0.85 rem;
    color: #CCCCCC;
    margin-left: 15 px;
   

}
.IND{
    font-size: 1 rem;
}
.add-icon{
    display: flex;
    margin-left: 3 px;
}
/**box3**/
.nav-search{
    display: flex;
    background-color: rgb (244, 181, 66);
    width: 620 px;
    height: 40 px;
    border-radius: 5 px;
    justify-content: space-evenly;
}
.search-select{
    background-color: #f3f3f3;
    width: 50 px;
    border-top-left-radius: 5 px;
    border-bottom-left-radius: 5 px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100 %;
    font-size: 1 rem;
}
.search{ 
    display:flex;
    width: 45 px;
    align-items: center;
    justify-content: center;
    font-size: 1.3 rem;
    border-top-right-radius: 5 px;
    border-bottom-right-radius: 5 px;
    color:#0F1111
}
