body{
    background-color: black;
}
h1{
    font-weight:bold;
    text-transform:uppercase;
}
.A{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color:blueviolet;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
.B{
    border: 5px solid white;
    width:100%;
}